* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: rgb(233, 229, 237);
    font-family: 'Trebuchet MS';

}


/* Header flexed with mobile design in mind first */
header {
    display: flex;
    flex-direction: column;
    background-color: rgb(103, 103, 103);
}

.h1-navbar {
    display: flex;
    flex-direction: column;
}

.header-h1 {
    text-align: center;
    background-color: aqua;
    color: rgb(103, 103, 103);
    font-size: 48px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 12px;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    color: aqua;
    list-style-type: none;


}


a {
    text-decoration: none;
}

/* Coloring links before and after click*/
.fill:link,
.fill:visited {
    color: aqua;
}


.banner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
    width: 100%;
    padding: 10px;
    background-image: url("./images/universe.jpg");
    background-size: cover;
}

.header-h2 {
    background-color: aqua;
    color: rgb(103, 103, 103);
    padding: 4px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.content {
    display: flex;
    flex-direction: column;
}

.section-header {
    font-size: 38px;
    color: rgb(36, 0, 164);
}

.section-underline {
    display: flex;
    height: 2px;
    width: 100%;
    margin: 10px 0;
    background-color: rgb(36, 0, 164);
}

.profile-pic {
    display: flex;
    justify-content: flex-start;
    border-radius: 30%;
    border: 2px solid aqua;
    width: 150px;
}

.about-p {
    padding-top: 6px;
}

.project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.link-alignment {
    display: flex;
    flex-direction: column;

}

.project-link {
    display: flex;
    align-items: center;
    border: 6px solid aqua;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 6px;

}

.project-text-box {
    background-color: aqua;
    padding: 10px;
}

/* Opacity hover effect on all project links*/
#link-1:hover {
    opacity: 1;
}

#link-1 {
    background-image: url("./images/link-1.jpg");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    opacity: .7;
}

#link-2:hover {
    opacity: 1;
}

#link-2 {
    background-image: url("./images/link-2.jpg");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    opacity: .7;
}

#link-3:hover {
    opacity: 1;
}

#link-3 {
    background-image: url("./images/link-3.jpg");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    opacity: .7;
}

#link-4:hover {
    opacity: 1;
}

#link-4 {
    background-image: url("./images/link-4.jpg");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    opacity: .7;
}

#link-5:hover {
    opacity: 1;
}

#link-5 {
    background-image: url("./images/link-5.jpg");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    opacity: .7;
}

footer {
    padding: 20px;
}

.footer-nav {
    display: flex;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    height: 30vw;
    padding: 10px;
}

/* Coloring links before and after click*/
.fill-bottom:link,
.fill-bottom:visited {
    color: rgb(36, 0, 164);
}

.fill-bottom:hover,
{
color: aqua;
}

/* media querie changes the arrangement for tablet view */
@media screen and (min-width: 768px) {
    .link-alignment {
        flex-direction: row;

    }

    .project-link {
        flex-direction: row;
        justify-content: flex-start;

    }

    #link-1 {
        height: 500px;

    }



    .footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        width: 90vw;
        height: 6vw;
        list-style-type: none;

    }
}

/* Media querie changes the arrangement for desktop view */
@media screen and (min-width: 980px) {
    .h1-navbar {
        flex-direction: row;
    }

    .header-h1 {
        width: 30vw;
    }

    .navbar {
        justify-content: right;
    }

    .banner {
        justify-content: flex-end;
    }


    .content {
        flex-direction: row;
        align-items: center;

    }

    .section-underline {
        align-self:stretch;
        height: 100%;
        width: 2px;
        margin: 0 10px;
        background-color: rgb(36, 0, 164);
    }

    .section-header {
        padding-left: 80px;
        padding-right: 20px;
    }

    .about-p {
        padding-left: 10px;
    }



    footer {
        align-items: center;
    }

}